<div class="form-group">
    <label for="ime" class="col-sm-2 control-label">Ime</label>
    <div class="col-sm-10">
        <input type="text" ng-model="izdelek.ime" class="form-control" id="ime" placeholder="izdelek ime"/>
    </div>
</div>
<div class="form-group">
    <label for="cena" class="col-sm-2 control-label">Cena</label>
    <div class="col-sm-10">
        <input type="text" ng-model="izdelek.cena" class="form-control" id="cena" placeholder="izdelek cena"/>
    </div>
</div>
<div class="form-group">
    <label for="sifra" class="col-sm-2 control-label">Sifra</label>
    <div class="col-sm-10">
        <input type="text" ng-model="izdelek.sifra" class="form-control" id="sifra" placeholder="izdelek sifra"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>
