<div class="container pad-top">
  <a ui-sref="newIzdelek" class="btn-primary btn-lg nodecoration">Dodaj nov izdelek</a>
  <table class="table izdelektable">
      <tr>
          <td><h3>Vsi izdelki</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="izdelek in izdelki">
          <td>{{izdelek.ime}}</td>
          <td>{{izdelek.cena}}</td>
          <td>{{izdelek.sifra}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewIzdelek({id:izdelek.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteIzdelek(izdelek)">Delete</a>
          </td>
      </tr>
  </table>
</div>
